
    <a class="btn" href="{{ url_for('coursework_page', course=course.id) }}">Create New Coursework</a>
    <ul>
        <li><a href="{{ url_for('topic_page', course_id=course.id) }}"><em>No Topic</em></a>

            <ul>
        {% for cw in course.courseworks if not cw.topic_id %}
                <li><a href="{{ url_for('coursework_page', coursework_id=cw.id)}}">{{ cw.get_title() }}</a></li>
        {% endfor %}
            </ul>
        </li>
        {% for topic in course.topics %}
            <li><a href="{{ url_for('topic_page', topic_id=topic.id)}}">{{ topic.get_title() }}</a>
            <ul>
            {% for cw in topic.courseworks %}
                <li><a href="{{ url_for('coursework_page', coursework_id=cw.id)}}">{{ cw.get_title() }}</a></li>
            {% endfor %}
            </ul></li>
        {% endfor %}
    </ul>
