
{% extends 'base.j2' %}

{% block content %}
<h1>Courses</h1>

<!-- sort options go here -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="filterCoursesCheckbox" checked>
    <label class="form-check-label" for="filterCoursesCheckbox">Show only courses with sections</label>
</div>

{% for course in courses %}
    {% include 'course_partial.j2'%}
{% endfor %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterCoursesCheckbox = document.getElementById("filterCoursesCheckbox");
        filterCoursesCheckbox.addEventListener("change", function () {
            const courses = document.getElementsByClassName("course-nosection");
            for (let i = 0; i < courses.length; i++) {
                if (filterCoursesCheckbox.checked) {
                    courses[i].style.display = "none";
                } else {
                    courses[i].style.display = "block";
                }
            }
        });
    });
    </script>
{% endblock %}
