
{% extends "base.j2" %}
{% set selected_submission_id = 0 %}
{% block title %}{{ coursework.get_title() }}{% endblock %}

{% block sidebar %}
{% include 'coursework_sidebar.j2'%}
{% endblock %}

{% block content %}
        {% include 'coursework_partial.j2'%}

        {% include 'coursework_submissionlist.j2' %}
{% endblock %}
