
<div id="cw-submission-{{ coursework.id }}">
    <div class="card">
        <div class="card-header" id="submissions-heading-{{ coursework.id }}">
            <button class="btn btn-link" data-toggle="collapse" data-target="#submissions-body-{{ coursework.id }}" aria-expanded="true" aria-controls="submissions-body-{{ coursework.id }}">
                <h6 class="mb-0"></h6><i class="fa-solid fa-caret-down"></i> </button>Submissions for {{ coursework.title }} </h6>
            
        </div>
        
        
        <div id="submissions-body-{{ coursework.id }}" class="collapse show" arlabelledby="submissions-heading-{{ coursework.id }}" data-parent="#cw-submission-{{ coursework.id }}">
            <table class="table table-sm table-hover" id="cw_submissions_table_{{ coursework.id }}" border="1">
                <thead>
                    <tr>
                        <th scope="col">student</th>
                        <th scope="col">status</th>
                        <th scope="col">state</th>
                        <th scope="col">updated</th>
                        <th scope="col">pulled</th>
                        <th scope="col">edited</th>
                        <th scope="col">graded</th>
                        <th scope="col">late</th>
                        <th scope="col">draftGrade</th>
                        <th scope="col">grade</th>
                        <th scope="col">GC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in coursework.submissions %}
                        <div class="submission-{{ submission.id }}" >
                            <tr data-cw-id="{{ coursework.id }}">

                                <th scope="row">
                                    <a href="mailto:{{ submission.student.email }}">{{ submission.student.name }} ({{submission.student.username if submission.student.username}})</a>
                                    <a class="btn btn-sm btn-outline-primary" href="{{ url_for('submission_page', coursework_id=submission.coursework.id, submission_id=submission.id) }}">details</a>
                                </th>

                                {% if submission.late %}
                                    <td class="table-danger">
                                {% elif submission.status ==  "TURNED_IN" or submission.status == "RESUBMITTED" %}
                                    <td class="table-warning">
                                {% elif submission.status == "GRADED" %}
                                    <td class="table-success">
                                {% else %}
                                    <td>
                                {% endif %}                                    
                                    {{ submission.status }}</td>
                                    <td>{{ submission.state.name if submission.state else "?" }}</td>
                                    
                                    {% if submission.get_timestamp("edited") != submission.get_timestamp("updated") %}
                                        <td class="table-danger">{{ submission.get_timestamp("updated") }}</td>
                                    {% else %}
                                        <td>{{ submission.get_timestamp("updated") }}</td>
                                    {% endif %}
                                    <td>{{ submission.get_timestamp("pulled") }}</td>
                                    <td>{{ submission.get_timestamp("edited") }}</td>
                                    <td>{{ submission.get_timestamp("graded") }}</td>
                                    <td>{{ submission.late }}</td>

                                    {% set dg = submission.draftGrade|string %}
                                    {% set ag = submission.assignedGrade|string %}

                                    {% if submission.draftGrade and submission.assignedGrade and dg[1:] != ag[1:] %}
                                        <td class="table-danger">{{ submission.draftGrade }}</td>
                                    {% else %}
                                        <td>{{ submission.draftGrade }}</td>
                                    {% endif %}
                                    <td>{{ submission.assignedGrade }}</td>
                                    <td><a target="_blank" href="{{ submission.url }}">GC</a></td>

                                </tr>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>