{% extends "base.j2" %}

{% block title %}
Problem Page: {{ problem.title if problem.title else problem.slug }}
{% endblock %}

{% block content %}
{% include 'problem_partial.j2' %}

{% endblock %}

