{% extends "base.j2" %}

{% block title %}Problems{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{{ url_for('create_or_edit_problem') }}">New Problem</a>
<ul>
{% for problem in problems %}
<li><a href="{{ url_for('problem_page', problem_id=problem.id) }}">{{ problem.get_title() }}</a>  <a class="btn btn-sm btn-warning" href="{{ url_for('create_or_edit_problem', problem_id=problem.id) }}">Edit </a>

</li>
{% endfor %}
</ul>

{% endblock %}